{"token":"xoxp-656657692176-645232876739-751488100022-53b85de45df8b577be00d6674fc0eab5","configurationGroups":[{"name":"Configuration 1","channel":"CKCEGGARM","securityGroups":null,"sections":{"memberService":{"handlers":{"deleted":true,"saved":true}},"mediaService":{"handlers":{"trashed":true,"saved":true,"moved":true,"deleted":true}},"userService":{"handlers":{"deletedUser":true,"deletedUserGroup":true}},"contentService":{"handlers":{"published":true,"unpublished":true,"trashed":true,"rolledBack":true,"deleted":true,"moved":true,"sentToPublish":true}}}}]}