{"token":null,"configurationGroups":[{"name":"Configuration 1","channel":null,"securityGroups":null,"sections":{"memberService":{"handlers":{"deleted":true,"saved":true}},"mediaService":{"handlers":{"trashed":true,"saved":true,"moved":true,"deleted":true}},"userService":{"handlers":{"deletedUser":true,"deletedUserGroup":true}},"contentService":{"handlers":{"published":true,"unpublished":true,"trashed":true,"rolledBack":true,"deleted":true,"moved":true,"sentToPublish":true}}}}]}