{
"token":"12345",
"channel":"ulsackchannel",
"sections":[
    
        {"alias":"d1",
        "parameters":[
            {"alias": "al1",
            "value": "val1"}
        ]},
        {"alias":"d1",
        "parameters":[
            {"alias": "al2",
            "value": "val2"},
            {"alias": "al3",
            "value": "val3"}
        ]} 
    ]
}