{
  "token": "123",
  "channel": "uslack",
  "sections": {
    "contentService": {
      "parameters": {
        "published": true,
        "unpublished": true,
        "deleted": true,
        "moved": true,
        "rolledBack": true
      }
    },
    "mediaService": {
      "parameters": {
        "saved": true,
        "deleted": true,
        "moved": true,
        "trashed": true
      }
    },
    "memberService": {
      "parameters": {
        "saved": true,
        "deleted": true
      }
    },
    "userService": {
      "parameters": {
        "saved": true,
        "deleted": true,
        "deletedUserGroup": true
      }
    }
  }
}
