<div ng-controller="uslack.dashboard.controller as vm">
    <umb-button class="pull-right"
                action="vm.btnSave(config)"
                type="button"
                button-style="success"
                state="vm.buttonState"
                shortcut="ctrl+c"
                label-key="buttons_save"
                disabled="vm.buttonState === 'busy' || !vm.appsettings.token">
    </umb-button>

    <div class="sub-view-columns">
        <div class="sub-view-column-left">
            <h5><localize key="uslack_token" /></h5>
            <small><localize key="uslack_token_help" /></small>
        </div>
        <div class="sub-view-column-right">
            <input type="text" placeholder="your app token" ng-model="vm.appsettings.token" no-validate />
        </div>
    </div>


    <div class="umb-panel-group__details" ng-repeat="(idx, config) in vm.appsettings.configurationGroups">

        <div class="umb-panel-group__details-group">

            <div class="umb-panel-group__details-group-title" ng-click="vm.togglePanel(idx);">
                <div class="umb-panel-group__details-group-name">
                    {{config.name}}
                </div>
                <div class="pull-right" ng-if="idx != 0">
                    <i class="icon-trash" ng-click="vm.deleteGroup(idx)" ></i>
                </div>
            </div>
            <umb-box ng-show="vm.panelsVisibility[idx]">
                <umb-box-content>
                    <div class="sub-view-columns">
                        <div class="sub-view-column-left">
                            <h5><localize key="uslack_configname" /></h5>
                        </div>
                        <div class="sub-view-column-right">
                            <input type="text" ng-model="config.name" />
                        </div>
                    </div>
                </umb-box-content>

                <umb-box-header title-key="uslack_security"></umb-box-header>
                <umb-box-content>
                    <div class="sub-view-columns">
                        <div class="sub-view-column-left">
                            <h5><localize key="uslack_groups_label" /></h5>
                            <small><localize key="uslack_groups_help" /></small>
                        </div>
                        <div class="sub-view-column-right">
                            <select type="text" ng-model="config.securityGroups" multiple>
                                <option ng-repeat="group in vm.userGroups" value="{{group}}">{{group}}</option>
                            </select>
                            <p><a href prevent-default><small ng-click="vm.selectAllGroups(config)">Select all</small></a></p>
                        </div>
                    </div>
                </umb-box-content>

                <umb-box-header title-key="uslack_config"></umb-box-header>
                <umb-box-content>
                    <div class="sub-view-columns">
                        <div class="sub-view-column-left">
                            <h5><localize key="uslack_channel" /></h5>
                            <small><localize key="uslack_channel_help" /></small>
                        </div>
                        <div class="sub-view-column-right">
                            <umb-button ng-hide="vm.channels"
                                        action="vm.loadChannels(config)"
                                        type="button"
                                        button-style="action"
                                        state="vm.loadChannelsState"
                                        label-key="uslack_loadChannelsBtn"
                                        disabled="vm.loadChannelsState === 'busy' || !vm.appsettings.token">
                            </umb-button>
                            <small ng-show="!vm.appsettings.token">Enter an App token to load the channels</small>
                            <select ng-model="config.channel" ng-show="vm.channels">
                                <option ng-repeat="channel in vm.channels" value="{{channel.id}}">{{channel.name}}</option>
                            </select>
                        </div>
                    </div>
                </umb-box-content>

                <div ng-repeat="(section, sectionValue) in config.sections">
                    <umb-box-header title-key="uslack_{{section}}_title"></umb-box-header>
                    <umb-box-content>
                        <div ng-repeat="(key, paramValue) in sectionValue.handlers" class="sub-view-columns">
                            <div class="sub-view-column-left">
                                <h5><localize key="uslack_{{section}}_{{key}}_label" /></h5>
                            </div>
                            <div class="sub-view-column-right">
                                <umb-toggle checked="config.sections[section].handlers[key]"
                                            on-click="vm.toggleSwitch(config, section, key)"></umb-toggle>
                            </div>
                        </div>
                    </umb-box-content>
                </div>
            </umb-box>

        </div>
    </div>

    <umb-button action="vm.addNewConfig()"
                type="button"
                button-style="action"
                label-key="uslack_AddConfigBtn">
    </umb-button>
</div>