{
    "token": "123",
    "channel": "uslack",
    "sections": {
        "contentService": {
            "handlers": {
                "published": true,
                "unpublished": true,
                "deleted": true,
                "trashed": true,
                "moved": true,
                "rolledBack": true
            }
        },
        "mediaService": {
            "handlers": {
                "saved": true,
                "deleted": true,
                "moved": true,
                "trashed": true
            }
        },
        "memberService": {
            "handlers": {
                "saved": true,
                "deleted": true
            }
        },
        "userService": {
            "parameters": {
                "deletedUser": true,
                "deletedUserGroup": true
            }
        }
    }
}