<div ng-controller="uslack.dashboard.controller as vm">

    <umb-box>
        <umb-box-header title-key="uslack_config"></umb-box-header>
        <umb-box-content>
            <div class="sub-view-columns">
                <div class="sub-view-column-left">
                    <h5><localize key="uslack_token" /></h5>
                    <small><localize key="uslack_token_help" /></small>
                </div>
                <div class="sub-view-column-right">
                    <input type="text" placeholder="your app token" ng-model="vm.config.token" />
                </div>
            </div>
            <div class="sub-view-columns">
                <div class="sub-view-column-left">
                    <h5><localize key="uslack_channel" /></h5>
                    <small><localize key="uslack_channel_help" /></small>

                </div>
                <div class="sub-view-column-right">
                    <input type="text" placeholder="your app token" ng-model="vm.config.channel" />
                </div>
            </div>
        </umb-box-content>
    </umb-box>

    <umb-box ng-repeat="section in vm.config.sections">
        <umb-box-header title-key="uslack_{{section.alias}}_title"></umb-box-header>
        <umb-box-content>
            <div ng-repeat="param in section.parameters" class="sub-view-columns">
                <div class="sub-view-column-left">
                    <h5><localize key="uslack_{{section.alias}}_{{param.alias}}_label" /></h5>
                </div>
                <div class="sub-view-column-right">
                    <umb-toggle checked="vm.config[section.alias][param.alias]"
                                on-click="vm.config[section.alias][param.alias] = !vm.config[section.alias][param.alias]"></umb-toggle>
                </div>
            </div>
        </umb-box-content>
    </umb-box>
</div>