<div ng-controller="uslack.dashboard.controller as vm">
    <div class="umb-panel-group__details" ng-repeat="(idx, config) in vm.configurations">

        <div class="umb-panel-group__details-group">

            <div class="umb-panel-group__details-group-title" ng-click="vm.togglePanel(idx);">
                <div class="umb-panel-group__details-group-name">
                    {{config.name}}
                </div>
            </div>

            <umb-box ng-show="vm.panelsVisibility[idx]">
                <umb-box-content>
                    <div class="sub-view-columns">
                        <div class="sub-view-column-left">
                            <h5><localize key="uslack_configname" /></h5>
                        </div>
                        <div class="sub-view-column-right">
                            <input type="text" ng-model="config.name" />
                        </div>
                    </div>
                </umb-box-content>

                <umb-box-header title-key="uslack_config"></umb-box-header>
                <umb-box-content>
                    <div class="sub-view-columns">
                        <div class="sub-view-column-left">
                            <h5><localize key="uslack_token" /></h5>
                            <small><localize key="uslack_token_help" /></small>
                        </div>
                        <div class="sub-view-column-right">
                            <input type="text" placeholder="your app token" ng-model="config.token" no-validate />
                        </div>
                    </div>
                    <div class="sub-view-columns">
                        <div class="sub-view-column-left">
                            <h5><localize key="uslack_channel" /></h5>
                            <small><localize key="uslack_channel_help" /></small>
                        </div>
                        <div class="sub-view-column-right">
                            <umb-button ng-show="!config.channels"
                                        action="vm.loadChannels(config)"
                                        type="button"
                                        button-style="action"
                                        state="vm.loadChannelsState"
                                        label-key="uslack_loadChannelsBtn"
                                        disabled="vm.loadChannelsState === 'busy' || !config.token">
                            </umb-button>
                            <select ng-model="config.channel" ng-show="config.channels">
                                <option ng-repeat="channel in config.channels" value="{{channel.id}}">{{channel.name}}</option>
                            </select>
                        </div>
                    </div>
                    <umb-button action="vm.btnSave(config)"
                                type="button"
                                button-style="action"
                                state="vm.buttonState"
                                shortcut="ctrl+c"
                                label-key="buttons_save"
                                disabled="vm.buttonState === 'busy'">
                    </umb-button>
                </umb-box-content>

                <div ng-repeat="(section, sectionValue) in config.sections">
                    <umb-box-header title-key="uslack_{{section}}_title"></umb-box-header>
                    <umb-box-content>
                        <div ng-repeat="(key, paramValue) in sectionValue.parameters" class="sub-view-columns">
                            <div class="sub-view-column-left">
                                <h5><localize key="uslack_{{section}}_{{key}}_label" /></h5>
                            </div>
                            <div class="sub-view-column-right">
                                <umb-toggle checked="config.sections[section].parameters[key]"
                                            on-click="vm.toggleSwitch(config, section, key)"></umb-toggle>
                            </div>
                        </div>
                    </umb-box-content>
                </div>
            </umb-box>

        </div>
    </div>
    <umb-button action="vm.btnSave(config)"
                type="button"
                button-style="action"
                state="vm.buttonState"
                shortcut="ctrl+c"
                label-key="buttons_save"
                disabled="vm.buttonState === 'busy'">
    </umb-button>
</div>