<div ng-controller="uslack.dashboard.controller as vm">
    <label>Token</label>
    <input type="text" name="token" value="" />

    <label>Channel</label>
    <input type="text" name="token" value="" />

    <umb-box ng-repeat="section in vm.config.sections">
        <umb-box-header title="{{section.alias}}_title"></umb-box-header>
        <umb-box-content>
            <div ng-repeat="section.parameters" class="sub-view-columns">
                <div class="sub-view-column-left">
                    <h5><localize key="uslack_contentService_published_label" /></h5>
                    <small><localize key="uslack_contentService_published_help" /></small>
                </div>
                <div class="sub-view-column-right">
                    <umb-toggle checked="vm.config.contentService.published"
                                on-click="vm.config.contentService.published = !vm.config.contentService.published"></umb-toggle>
                </div>
            </div>

            <div class="sub-view-columns">
                <div class="sub-view-column-left">
                    <h5><localize key="uslack_contentService_unpublished_label" /></h5>
                    <small><localize key="uslack_contentService_unpublished_help" /></small>
                </div>
                <div class="sub-view-column-right">
                    <umb-toggle checked="vm.config.contentService.unpublished"
                                on-click="vm.config.contentService.unpublished = !vm.config.contentService.unpublished"></umb-toggle>
                </div>
            </div>

            <div class="sub-view-columns">
                <div class="sub-view-column-left">
                    <h5><localize key="uslack_contentService_deleted_label" /></h5>
                    <small><localize key="uslack_contentService_deleted_help" /></small>
                </div>
                <div class="sub-view-column-right">
                    <umb-toggle checked="vm.config.contentService.deleted"
                                on-click="vm.config.contentService.deleted = !vm.config.contentService.deleted"></umb-toggle>
                </div>
            </div>

            <div class="sub-view-columns">
                <div class="sub-view-column-left">
                    <h5><localize key="uslack_contentService_moved_label" /></h5>
                    <small><localize key="uslack_contentService_moved_help" /></small>
                </div>
                <div class="sub-view-column-right">
                    <umb-toggle checked="vm.config.contentService.moved"
                                on-click="vm.config.contentService.moved = !vm.config.contentService.moved"></umb-toggle>
                </div>
            </div>

            <div class="sub-view-columns">
                <div class="sub-view-column-left">
                    <h5><localize key="uslack_contentService_rolledBack_label" /></h5>
                    <small><localize key="uslack_contentService_rolledBack_help" /></small>
                </div>
                <div class="sub-view-column-right">
                    <umb-toggle checked="vm.config.contentService.rolledBack"
                                on-click="vm.config.contentService.rolledBack = !vm.config.contentService.rolledBack"></umb-toggle>
                </div>
            </div>

            <div class="sub-view-columns">
                <div class="sub-view-column-left">
                    <h5><localize key="uslack_contentService_trashed_label" /></h5>
                    <small><localize key="uslack_contentService_trashed_help" /></small>
                </div>
                <div class="sub-view-column-right">
                    <umb-toggle checked="vm.config.contentService.trashed"
                                on-click="vm.config.contentService.trashed = !vm.config.contentService.trashed"></umb-toggle>
                </div>
            </div>
        </umb-box-content>
    </umb-box>


</div>