{
  "token": "123",
  "channel": "uslack",
  "sections": [
    {
      "alias": "contentService",
      "parameters": [
        {
          "alias": "published",
          "value": true
        },
        {
          "alias": "unpublished",
          "value": true
        },
        {
          "alias": "deleted",
          "value": true
        },
        {
          "alias": "moved",
          "value": true
        },
        {
          "alias": "rolledBack",
          "value": true
        },
        {
          "alias": "rolledBack",
          "value": true
        }
      ]
    },
    {
      "alias": "mediaService",
      "parameters": [
        {
          "alias": "saved",
          "value": true
        },
        {
          "alias": "deleted",
          "value": true
        },
        {
          "alias": "moved",
          "value": true
        },
        {
          "alias": "trashed",
          "value": true
        }
      ]
    },
    {
      "alias": "memberService",
      "parameters": [
        {
          "alias": "saved",
          "value": true
        },
        {
          "alias": "deleted",
          "value": true
        }
      ]
    },
    {
      "alias": "userService",
      "parameters": [
        {
          "alias": "saved",
          "value": true
        },
        {
          "alias": "deleted",
          "value": true
        },
        {
          "alias": "userGroupDeleted",
          "value": true
        }
      ]
    }
  ]
}
